global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 15s
    timeout client  45s
    timeout server  45s

resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    resolve_retries 5
    timeout retry   1s
    hold valid      10s

frontend http_proxy_in
    bind *:8888
    mode tcp
    default_backend tor_backend

backend tor_backend
    mode tcp
    balance roundrobin
    default-server resolvers docker_dns init-addr none check inter 5s rise 2 fall 3
    server tor-node-1 tor-node-1:8118
    server tor-node-2 tor-node-2:8118
    server tor-node-3 tor-node-3:8118
    server tor-node-4 tor-node-4:8118
    server tor-node-5 tor-node-5:8118
